@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Monoton&family=Rampart+One&family=Shadows+Into+Light+Two&display=swap");
body {
  background: url("images/owl-pattern-4804511.jpg");
  background-size: contain;
  margin: 0;
  font-family: "Lato";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.container-fulid {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

a {
  text-decoration: none;
  color: red;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

ul {
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 5em;
}

.hero {
  text-align: center;
  height: 72vh;
}

/* NAVIGATION BAR STARTS */
.navbar {
  height: 20px;
  background: #f26419;
  /* linear-gradient(to right, #00AAFF, rgb(240, 240, 87)) */
  padding: 1em;
  -webkit-box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.logo {
  color: white;
  font-size: 1em;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
}

.navbar .home:hover {
  border-bottom: 2px #fff solid;
}

.primary-nav {
  color: #33658a;
  font-size: 1.8em;
  margin-right: 45px;
}

.secondary-nav {
  font-size: 1em;
  color: white;
}

.title {
  font-weight: bold;
  color: #74bbf1;
  /* orange */
}

.home {
  color: white;
  /* white */
}

/* NAVIGATION BAR ENDS */

/* FLIPPING CARDS STARTS */
.flip-card {
  background-color: transparent;
  height: 350px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.flip-card-inner {
  border: solid 3px #000000;
  border-radius: 10px;
  position: relative;
  width: 250px;
  height: 350px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner:hover {
  -webkit-box-shadow: 0 8px 16px 0 #f6ae2d;
  box-shadow: 0 8px 16px 0 #f6ae2d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-family: "Rampart One";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.flip-card-back {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.setup,
.puncline {
  padding: 5px;
}

.flip-card-base {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  background-color: #74bbf1;
  /* rgba(68, 68, 68, 0.116); */
  width: 100%;
  height: 20%;
}

#like-button,
#dislike-button {
  color: black;
  width: 10%;
  height: 50%;
  margin: auto;
  padding-right: 5px;
  padding-left: 5px;
  border: solid 3px #000000;
  border-radius: 10px;
}

#like-button {
  float: right;
}

#dislike-button {
  float: left;
}

#like-button:hover,
#dislike-button:hover {
  background-color: #f6ae2d;
  color: white;
}

<<<<<<< HEAD
.button1 {
  margin: 15px;
  background: #e4e4e4af;
  border: solid 3px #000000;
  border-radius: 10px;
  padding-left: 15px;
  width: 65px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.button1:hover {
  background: #f6ae2d;
  color: white;
}

.button2 {
  margin: 15px;
  background: #e4e4e4af;
  border: solid 3px #000000;
  border-radius: 10px;
  width: 65px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
}
.button2:hover {
  background: #f6ae2d;
  color: white;
}

/* #comment-form {
  display: flex;
  flex-direction: column;
}
=======
>>>>>>> 9a6a222aaa577e926988413af2c3d67398fe8477

/* FLIPPING CARDS ENDS */

/* FILTERING STARTS */

.filter-button {
  font-size: 1.2em;
  border: solid 3px #000000;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin-top: 25px;
  background-color: #74bbf1;
  color: white;
}

.filter-button:hover {
  background-color: #f6ae2d;
}

.filter-visible {
  margin: auto;
  width: 150px;
  height: 100px;
}

.filter-visible > p {
  border: solid 1px #000000;
  background-color: white;
  margin: 0px;
}

.filter-visible > p:hover {
  background-color: #f6ae2d;
  margin: 0px;
}

.filter-hidden {
  display: none;
  width: 0px;
  height: 0px;
}

.joke-type {
  width: 100%;
  height: 20%;
  font-size: .6em;
  font-family: "Lato";
}

/* FILTERING ENDS */

/* TESTIMONIALS STARTS */

.testimonials-section {
  background: #f26419;
  /* linear-gradient(to right, #00AAFF, rgb(240, 240, 87)) */
  overflow: hidden;
  padding: 50px;
  -webkit-box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5),
    0 -8px 8px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5) 0 -8px 8px -6px rgba(0, 0, 0, 0.5);
}

.testimonials-section ul {
  display: flex;
}

.testimonials-section li {
  background: white;
  text-align: center;
  padding: 2em 2em;
  margin: 1em 5em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.testimonials-section li img {
  width: 4em;
  height: 4.5em;
  border-radius: 2em;
}

.blockquotes {
  font-weight: bold;
  font-size: 25px;
}

.info {
  float: left;
  width: 42%;
  background: #74bbf1;
  /* linear-gradient(to right, rgb(24, 115, 138), #107e6b) */
  padding: 30px;
  border-radius: 20px;
  color: antiquewhite;
  text-align: center;
}

.info img {
  width: 4em;
  height: 4.5em;
  border-radius: 2em;
}

@media screen and (max-width: 992px) {
  .info {
    float: left;
    width: 67%;
    background: linear-gradient(to right, #00aaff, rgb(240, 240, 87));
    padding: 30px;
    border-radius: 20px;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 15px;
  }

  .info img {
    width: 4em;
    height: 4.5em;
    border-radius: 2em;
  }
}

/* TESTIMONIALS ENDS */

/* COPYRIGHT STARTS */

.copyright-section {
  height: 5px;
}

.copyright-left {
  float: left;
}
.copyright-right {
  float: right;
}

.footer {
  font-style: oblique;
  font-weight: bold;
}

/* COPYRIGHT ENDS */
