@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Monoton&family=Rampart+One&family=Shadows+Into+Light+Two&display=swap");

body {
  background: white;
  margin: 0;
  font-family: "Lato";
}

.navbar {
  height: 50px;
  background: grey;
  padding: 1em;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Shadows Into Light Two";
  font-weight: bold;
  color: white;
  font-size: 1em;
}

.title {
  font-family: "Rampart One", sans-serif;
  color: orange;
}

.home {
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul {
  list-style: none;
}

.primary-nav {
  color: orange;
  font-size: 1.5em;
}

a {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
}

.navbar .home:hover {
  border-bottom: 2px #fff solid;
}

section {
  padding: 5em 5em;
}

.hero {
  text-align: center;
}
/* flipping card starts here */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 250px;
  height: 350px;
  border-color: #ffcb05;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner:hover {
  box-shadow: 0 8px 16px 0 yellow;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/* flipping card end here */

.testimonials-section {
  background: grey;
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5);
  li {
    background: #006bd6;
    text-align: center;
    padding: 2em 2em;
    margin: 0 auto 5em auto;
    border-radius: 1em;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);

    img {
      width: 4em;
      height: 4.5em;
      border-radius: 2em;
    }
  }
}
